 <header>
      <h1>Books</h1>
    </header>

      <div class="hosoku-box">
       <div class="hosoku-item">Title</div>
       <div class="hosoku-item">Body</div>
       <div class="hosoku-item" colspan="3"></div>
      </div>

<div class="list-wrap">
  <% @lists.each do |list| %>
  <div class="list-box">
      <div class="list-title-box">
       <span class="list-title"><%= list.title %></span></div>
       <div class="list-body-box">
      <span class="list-body"><%= list.body %></span></div>
      <div class="nav-box">
      <div class="nav-show-box">
       <a class="nav-item"><%= link_to "Show", book_path(book.id) %></a>
       </div>
       <div class="nav-edit-box">
       <a class="nav-item"><%= link_to "Edit", edit_book_path(book.id) %></a>
       </div>
       <div class="nav-destroy-box">
       <a class="nav-item"><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></a>
       </div>
       </div>
  </div>
</div>

  <% end %>

<h2>New book</h2>
<% if @list.errors.any? %>
<div class="error-box">
 <div class="error-title"><%= @list.errors.count %> errors prohibited this book from being saved:</div>
 <ul>
  <div class="error-body"><% @list.errors.full_messages.each do |message| %>
   <li><%= message %></li></div>
   <% end %>
 </ul>
</div>
 <% end %>

<%= form_with model: @list, url: '/books', method: :post do |f| %>

 <div class="new-title-error"><% f %>Title</div>
 <div class="new-title-error"><%= f.text_field :title %></div>

 <div class="new-body-error"><% f %><p>Body</p></div>
 <div class="new-body-error"><%= f.text_area :body %></div>

 <%= f.submit 'Create Book' %>

 <% end %>