 <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

<h2>Title</h2>
<p><%= @list.title %></p>

<h2>Body</h2>
<p><%= @list.body %></p>
<div class="show-nav">
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path %></div>